name: CI

on:
  push:
    branches:
      internal
  schedule:
    - cron: '0 4 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: install nix
      uses: cachix/install-nix-action@v10
    - name: install cachix
      run: nix-env -iA cachix -f https://cachix.org/api/v1/install
    - name: enable cachix for emacs-ci
      run: cachix use emacs-ci
    - name: check if nix is installed
      run: nix-env --version
    - uses: actions/checkout@v2
    - name: install elinter
      run: nix-env -if https://github.com/akirak/elinter/archive/v4.tar.gz -A main
    - run: 'git grep --cached akirak recipes | cut -d: -f1 | xargs elinter -r'
